openapi: 3.0.0
info:
  title: >-
    MACO APP - erforderliche ERP Schnittstellen | MACO APP - needed ERP
    interfaces
  license:
    name: MIT
    url: "https://opensource.org/licenses/MIT"
  description: >
    Übersicht der erforderlichen BO4E- und Prozessschnittstellen, die die MACO
    APP für die Ausführung der Marktprozesse benötigt. | Overview of the
    necessary BO4E and process interfaces that the MACO APP requires to execute
    market processes.


    <details>

    <summary>Changelog</summary>

    **Version 1.0.5** - *18. September 2024* - _Autor: DAS_
    - Update Default Command auf SAP_ statt NOCODB_
    - Update Default Beispiel MaloId auf 50074561188

    **Version 1.0.4** - *13. September 2024* - _Autor: Tu Quy Nguyen_
    - Update Formatierungen

    **Version 1.0.3** - *28. August 2024* - _Autor: Tu Quy Nguyen_
    - Aktualisierung Parameter LESEN Schnittstellen

    **Version 1.0.2** - *20. August 2024* - _Autor: Tu Quy Nguyen_
    - Schema ergänzt für START_N_BILA_REL_AEND_VON_NB, START_N_BILA_REL_AEND_VON_LF, START_N_BILA_REL_AEND_VON_LF, START_N_BILA_REL_AEND_VON_LF, START_N_BILA_REL_AEND_VON_LF, START_MESSWERTUEBERMITTLUNG, START_MALOIDENT, START_LIEFERENDE, START_KUENDIGUNG

    **Version 1.0.1** - *08. August 2024* - _Autor: DAS_

    - Hinzufügen von mehrsprachigen Beschreibungen und Changelog.
    - Anpassung der Schema-Beschreibungen in Deutsch und Englisch.

    **Version 1.0** - *01. August 2024* - _Autor: DAS_

    - Initiale Version der API-Dokumentation.


    </details>
  version: 1.0.5
servers:
  - url: "https://api.macoapp.de"
    description: Mock-Umgebung | Mock environment
tags:
  - name: LESEN | READ
    description: Lesender Zugriff auf Geschäftsobjekte | Reading access to business objects
    externalDocs:
      description: BO4E JSON Schema
      url: "https://github.com/conuti-gmbh/bo4e-schema"
  - name: AKTUALISIEREN | UPDATE
    description: >-
      Aktualisierung bestehender Geschäftsobjekte | Updating existing business
      objects
    externalDocs:
      description: BO4E JSON Schema
      url: "https://github.com/conuti-gmbh/bo4e-schema"
  - name: ERSTELLEN | CREATE
    description: Erstellen von Geschäftsobjekten | Creating business objects
    externalDocs:
      description: BO4E JSON Schema
      url: "https://github.com/conuti-gmbh/bo4e-schema"
  - name: LÖSCHEN | DELETE
    description: Löschen von Geschäftsobjekten | Deleting business objects
    externalDocs:
      description: BO4E JSON Schema
      url: "https://github.com/conuti-gmbh/bo4e-schema"
  - name: PROZESSDATEN | PROCESSING DATA
    description: >-
      Auslösen von Prozessen im ERP System | Triggering processes in the ERP
      system
  - name: EVENTDATEN | EVENT DATA
    description: Lesen von Eventdaten im ERP System | Reading event data in the ERP system
security: []
paths:
  /LESEN_EVENT_START_KUENDIGUNG:
    post:
      tags:
        - EVENTDATEN | EVENT DATA
      summary: LESEN_EVENT_START_KUENDIGUNG
      description: >-
        Lesen der Belegdaten zur Id (Parameter1) mit dem Datum (Parameter2) |
        Reading data from id (Parameter1) at the given date (Parameter2)
      operationId: LESEN_EVENT_START_KUENDIGUNG
      parameters:
        - name: command
          in: query
          description: >-
            Name der Operation | Name of the operation (MACO APP interal
            assignment between process and interface)
          schema:
            type: string
            default: LESEN_EVENT_START_KUENDIGUNG
            example: SAP_LESEN_EVENT_START_KUENDIGUNG
        - name: parameter1
          description: >-
            BelegId des Datensatzes in der Tabelle im Backend | DocumentId of
            the data record in the table in the backend
          in: query
          required: true
          schema:
            type: string
            example: "110000000605"
        - name: parameter2
          description: Datum (Gültig ab) | Date (Valid from)
          in: query
          required: true
          schema:
            type: string
            format: date-time
            example: "2024-06-28T12:18:00Z"
            pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z$'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/START_KUENDIGUNG"
      responses:
        "200":
          description: >-
            Erfolgreiches Lesen der Kommunikationsdaten | Successful reading of
            communication data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/START_KUENDIGUNG"
        "400":
          description: Fehlerhafte Anfrage | Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ERROR_RESPONSE"
        "422":
          description: Nicht verarbeitbare Anfrage | Unprocessable Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ERROR_RESPONSE"
  /LESEN_EVENT_START_LIEFERBEGINN:
    post:
      tags:
        - EVENTDATEN | EVENT DATA
      summary: LESEN_EVENT_START_LIEFERBEGINN
      description: >-
        Lesen der Belegdaten zur Id (Parameter1) mit dem Datum (Parameter2) |
        Reading data from id (Parameter1) at the given date (Parameter2)
      operationId: LESEN_EVENT_START_LIEFERBEGINN
      parameters:
        - name: command
          in: query
          description: >-
            Name der Operation | Name of the operation (MACO APP interal
            assignment between process and interface)
          schema:
            type: string
            default: LESEN_EVENT_START_LIEFERBEGINN
            example: SAP_LESEN_EVENT_START_LIEFERBEGINN
        - name: parameter1
          description: >-
            BelegId des Datensatzes in der Tabelle im Backend | DocumentId of
            the data record in the table in the backend
          in: query
          required: true
          schema:
            type: string
            example: "110000000605"
        - name: parameter2
          description: Datum (Gültig ab) | Date (Valid from)
          in: query
          required: true
          schema:
            type: string
            format: date-time
            example: "2024-06-28T12:18:00Z"
            pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z$'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/START_LIEFERBEGINN"
      responses:
        "200":
          description: >-
            Erfolgreiches Lesen der Kommunikationsdaten | Successful reading of
            communication data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/START_LIEFERBEGINN"
        "400":
          description: Fehlerhafte Anfrage | Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ERROR_RESPONSE"
        "422":
          description: Nicht verarbeitbare Anfrage | Unprocessable Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ERROR_RESPONSE"
  /ERSTELLEN_PROZESSDATEN_LIEFERENDE:
    post:
      tags:
        - PROZESSDATEN | PROCESSING DATA
      summary: ERSTELLEN_PROZESSDATEN_LIEFERENDE
      description: >-
        Beenden einer Liefersituation zum gegebenen Datum (Parameter1) an der
        gegebenen marktlokationsId (Parameter2) | Start a delivery end on the
        given date (Parameter1)  at the given market location ID (Parameter2)
      operationId: ERSTELLEN_PROZESSDATEN_LIEFERENDE
      parameters:
        - name: command
          in: query
          description: >-
            Name der Operation | Name of the operation (MACO APP interal
            assignment between process and interface)
          schema:
            type: string
            default: ERSTELLEN_PROZESSDATEN_LIEFERENDE
            example: NOCODB_ERSTELLEN_PROZESSDATEN_LIEFERENDE
        - name: parameter1
          description: marktlokationsId | market location identifier
          in: query
          required: true
          schema:
            type: string
            example: "74018657187"
        - name: parameter2
          description: Datum (Gültig ab) | Date (Valid from)
          in: query
          required: true
          schema:
            type: string
            format: date-time
            example: "2024-06-28T12:18:00Z"
            pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z$'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/STAMMDATEN_LIEFERENDE"
            examples:
              "PI 55004 - ROLLE NB : DATEN AUS ANFRAGE LF":
                $ref: "#/components/examples/PI_55004"
              "PI 55005 - ROLLE LF : DATEN AUS ANTWORT NB":
                $ref: "#/components/examples/PI_55005"
              "PI 55008 - ROLLE NB : DATEN AUS ANFRAGE LF":
                $ref: "#/components/examples/PI_55008"
              "PI 55007 - ROLLE LF : DATEN AUS ANTWORT NB":
                $ref: "#/components/examples/PI_55007"
      responses:
        "200":
          description: >-
            Erfolgreiches Lesen der Kommunikationsdaten | Successful reading of
            communication data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OK_RESPONSE"
        "400":
          description: Fehlerhafte Anfrage | Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ERROR_RESPONSE"
        "422":
          description: Nicht verarbeitbare Anfrage | Unprocessable Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ERROR_RESPONSE"
  /ERSTELLEN_PROZESSDATEN_LIEFERBEGINN:
    post:
      tags:
        - PROZESSDATEN | PROCESSING DATA
      summary: ERSTELLEN_PROZESSDATEN_LIEFERBEGINN
      description: >-
        Starten eines Lieferbeginns zum gegebenen Datum (Parameter1) an der
        gegeben marktlokationsId (Parameter2) | Start a delivery start on the
        given date (Parameter1)  at the given market location ID (Parameter2)
      operationId: ERSTELLEN_PROZESSDATEN_LIEFERBEGINN
      parameters:
        - name: command
          in: query
          description: >-
            Name der Operation | Name of the operation (MACO APP interal
            assignment between process and interface)
          schema:
            type: string
            default: ERSTELLEN_PROZESSDATEN_LIEFERBEGINN
            example: NOCODB_ERSTELLEN_PROZESSDATEN_LIEFERBEGINN
        - name: parameter1
          description: marktlokationsId | market location identifier
          in: query
          required: true
          schema:
            type: string
            example: "74018657187"
        - name: parameter2
          description: Datum (Gültig ab) | Date (Valid from)
          in: query
          required: true
          schema:
            type: string
            format: date-time
            example: "2024-06-28T12:18:00Z"
            pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z$'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/STAMMDATEN_LIEFERBEGINN"
            examples:
              "PI 55001 - ROLLE NB : DATEN AUS ANFRAGE LF":
                $ref: "#/components/examples/PI_55001"
              "PI 55002 - ROLLE LF : DATEN AUS ANTWORT NB":
                $ref: "#/components/examples/PI_55002"
      responses:
        "200":
          description: >-
            Erfolgreiches Lesen der Kommunikationsdaten | Successful reading of
            communication data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OK_RESPONSE"
        "400":
          description: Fehlerhafte Anfrage | Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ERROR_RESPONSE"
        "422":
          description: Nicht verarbeitbare Anfrage | Unprocessable Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ERROR_RESPONSE"
  /LESEN_KOMMUNIKATIONSDATEN_BASIS:
    get:
      tags:
        - LESEN | READ
      summary: LESEN_KOMMUNIKATIONSDATEN_BASIS
      description: >-
        Lesen der Kommunikationsdaten des Serviceanbieters (Parameter1) zum
        Zeitpunkt (Parameter2) | Reading the communication data of the service
        provider (Parameter1) at the time (Parameter2)
      operationId: LESEN_KOMMUNIKATIONSDATEN_BASIS
      parameters:
        - name: command
          in: query
          description: >-
            Name der Operation | Name of the operation (MACO APP interal
            assignment between process and interface)
          schema:
            type: string
            default: LESEN_KOMMUNIKATIONSDATEN_BASIS
            example: SAP_LESEN_KOMMUNIKATIONSDATEN_BASIS
        - name: parameter1
          description: ILN Nummer | ILN number
          in: query
          required: true
          schema:
            type: string
            example: "9903790000002"
        - name: parameter2
          description: Datum (Gültig ab) | Date (Valid from)
          in: query
          required: true
          schema:
            type: string
            format: date-time
            example: "2024-06-28T12:18:00Z"
            pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z$'
      responses:
        "200":
          description: >-
            Erfolgreiches Lesen der Kommunikationsdaten | Successful reading of
            communication data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Kommunikationsdaten"
        "400":
          description: Fehlerhafte Anfrage | Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ERROR_RESPONSE"
        "422":
          description: Nicht verarbeitbare Anfrage | Unprocessable Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ERROR_RESPONSE"
  /LESEN_MARKTTEILNEHMER_ABSENDER:
    get:
      tags:
        - LESEN | READ
      summary: LESEN_MARKTTEILNEHMER_ABSENDER
      description: >-
        Lesen einen absender(marktteilnehmer) mit LokationsId  (Parameter1) 
        zum Zeitpunkt (Parameter2) | Read a sender (market participant) with location ID (parameter 1)
        at time (parameter 2)
      operationId: LESEN_MARKTTEILNEHMER_ABSENDER
      parameters:
        - name: command
          in: query
          description: >-
            Name der Operation | Name of the operation (MACO APP interal
            assignment between process and interface)
          schema:
            type: string
            default: LESEN_MARKTTEILNEHMER_ABSENDER
            example: SAP_LESEN_MARKTTEILNEHMER_ABSENDER
        - name: parameter1
          description: ILN Nummer | ILN number
          in: query
          required: true
          schema:
            type: string
            example: "9903790000002"
        - name: parameter2
          description: Datum (Gültig ab) | Date (Valid from)
          in: query
          required: true
          schema:
            type: string
            format: date-time
            example: "2024-06-28T12:18:00Z"
            pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z$'
      responses:
        "200":
          description: >-
            Erfolgreiches Lesen der Kommunikationsdaten | Successful reading of
            communication data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MARKTTEILNEHMER"
        "400":
          description: Fehlerhafte Anfrage | Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ERROR_RESPONSE"
        "422":
          description: Nicht verarbeitbare Anfrage | Unprocessable Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ERROR_RESPONSE"
  /LESEN_MARKTTEILNEHMER_EMPFAENGER:
    get:
      tags:
        - LESEN | READ
      summary: LESEN_MARKTTEILNEHMER_EMPFAENGER
      description: >-
        Lesen einen recipient(marktteilnehmer) mit LokationsId  (Parameter1) 
        zum Zeitpunkt (Parameter2) | Read a recipient (market participant) with location ID (parameter 1)
        at time (parameter 2)
      operationId: LESEN_MARKTTEILNEHMER_EMPFAENGER
      parameters:
        - name: command
          in: query
          description: >-
            Name der Operation | Name of the operation (MACO APP interal
            assignment between process and interface)
          schema:
            type: string
            default: LESEN_MARKTTEILNEHMER_EMPFAENGER
            example: SAP_LESEN_MARKTTEILNEHMER_EMPFAENGER
        - name: parameter1
          description: ILN Nummer | ILN number
          in: query
          required: true
          schema:
            type: string
            example: "9903790000002"
        - name: parameter2
          description: Datum (Gültig ab) | Date (Valid from)
          in: query
          required: true
          schema:
            type: string
            format: date-time
            example: "2024-06-28T12:18:00Z"
            pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z$'
      responses:
        "200":
          description: >-
            Erfolgreiches Lesen der MARKTTEILNEHMER | Successful reading of
            communication data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MARKTTEILNEHMER"
        "400":
          description: Fehlerhafte Anfrage | Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ERROR_RESPONSE"
        "422":
          description: Nicht verarbeitbare Anfrage | Unprocessable Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ERROR_RESPONSE"
  /AKTUALISIEREN_KOMMUNIKATIONSDATEN_BASIS:
    post:
      tags:
        - AKTUALISIEREN | UPDATE
      summary: AKTUALISIEREN_KOMMUNIKATIONSDATEN_BASIS
      description: >-
        Aktualisieren der Kommunikationsdaten des Serviceanbieters (Parameter1)
        zum Zeitpunkt (Parameter2) | Updating the communication data of the
        service provider (Parameter1) at the time (Parameter2)
      operationId: AKTUALISIEREN_KOMMUNIKATIONSDATEN_BASIS
      parameters:
        - name: command
          in: query
          required: true
          description: Name der Operation | Name of the operation
          schema:
            type: string
            default: AKTUALISIEREN_KOMMUNIKATIONSDATEN_BASIS
            example: NOCODB_AKTUALISIEREN_KOMMUNIKATIONSDATEN_BASIS
        - name: parameter1
          description: ILN Nummer | ILN number
          in: query
          required: true
          schema:
            type: string
            example: "9903790000002"
        - name: parameter2
          description: Datum (Gültig ab) | Date (Valid from)
          in: query
          required: true
          schema:
            type: string
            format: date-time
            example: "2024-06-28T12:18:00Z"
            pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z$'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Marktteilnehmer"
      responses:
        "200":
          description: >-
            Erfolgreiches Aktualisieren der Kommunikationsdaten | Successful
            updating of communication data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Kommunikationsdaten"
        "400":
          description: Fehlerhafte Anfrage | Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ERROR_RESPONSE"
        "422":
          description: Nicht verarbeitbare Anfrage | Unprocessable Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ERROR_RESPONSE"
  /AKTUALISIEREN_PROZESSDATEN_KUENDIGUNG:
    post:
      tags:
        - AKTUALISIEREN | UPDATE
      summary: AKTUALISIEREN_PROZESSDATEN_KUENDIGUNG
      description: >-
        Lesen einer MaLo mittels LokationsId  (Parameter1) 
        zum Zeitpunkt (Parameter2) | Reading a MaLo using LocationId (Parameter1) 
        at time (Parameter2)
      operationId: AKTUALISIEREN_PROZESSDATEN_KUENDIGUNG
      parameters:
        - name: command
          in: query
          required: true
          description: Name der Operation | Name of the operation
          schema:
            type: string
            default: AKTUALISIEREN_PROZESSDATEN_KUENDIGUNG
            example: NOCODB_AKTUALISIEREN_PROZESSDATEN_KUENDIGUNG
        - name: parameter1
          description: ILN Nummer | ILN number
          in: query
          required: true
          schema:
            type: string
            example: "9903790000002"
        - name: parameter2
          description: Datum (Gültig ab) | Date (Valid from)
          in: query
          required: true
          schema:
            type: string
            format: date-time
            example: "2024-06-28T12:18:00Z"
            pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z$'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Marktteilnehmer"
      responses:
        "200":
          description: >-
            Erfolgreiches Aktualisieren der Kommunikationsdaten | Successful
            updating of communication data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Kommunikationsdaten"
        "400":
          description: Fehlerhafte Anfrage | Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ERROR_RESPONSE"
        "422":
          description: Nicht verarbeitbare Anfrage | Unprocessable Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ERROR_RESPONSE"

  /ERSTELLEN_KOMMUNIKATIONSDATEN_BASIS:
    post:
      tags:
        - ERSTELLEN | CREATE
      summary: ERSTELLEN_KOMMUNIKATIONSDATEN_BASIS
      description: >-
        Erstellen der Kommunikationsdaten des Serviceanbieters (Parameter1)
        zum Zeitpunkt (Parameter2) | Creating the communication data of the
        service provider (Parameter1) at the time (Parameter2)
      operationId: ERSTELLEN_KOMMUNIKATIONSDATEN_BASIS
      parameters:
        - name: command
          in: query
          required: true
          description: Name der Operation | Name of the operation
          schema:
            type: string
            default: ERSTELLEN_KOMMUNIKATIONSDATEN_BASIS
            example: NOCODB_ERSTELLEN_KOMMUNIKATIONSDATEN_BASIS
        - name: parameter1
          description: ILN Nummer | ILN number
          in: query
          required: true
          schema:
            type: string
            example: "9903790000002"
        - name: parameter2
          description: Datum (Gültig ab) | Date (Valid from)
          in: query
          required: true
          schema:
            type: string
            format: date-time
            example: "2024-06-28T12:18:00Z"
            pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z$'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Marktteilnehmer"
      responses:
        "200":
          description: >-
            Erfolgreiches Aktualisieren der Kommunikationsdaten | Successful
            updating of communication data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OK_RESPONSE"
        "400":
          description: Fehlerhafte Anfrage | Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ERROR_RESPONSE"
        "422":
          description: Nicht verarbeitbare Anfrage | Unprocessable Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ERROR_RESPONSE"
  /LOESCHEN_KOMMUNIKATIONSDATEN_BASIS:
    post:
      tags:
        - LÖSCHEN | DELETE
      summary: LOESCHEN_KOMMUNIKATIONSDATEN_BASIS
      description: >-
        Löschen der Kommunikationsdaten des Serviceanbieters (Parameter1)
        zum Zeitpunkt (Parameter2) | Deleting the communication data of the
        service provider (Parameter1) at the time (Parameter2)
      operationId: LOESCHEN_KOMMUNIKATIONSDATEN_BASIS
      parameters:
        - name: command
          in: query
          required: true
          description: Name der Operation | Name of the operation
          schema:
            type: string
            default: LOESCHEN_KOMMUNIKATIONSDATEN_BASIS
            example: NOCODB_LOESCHEN_KOMMUNIKATIONSDATEN_BASIS
        - name: parameter1
          description: ILN Nummer | ILN number
          in: query
          required: true
          schema:
            type: string
            example: "9903790000002"
        - name: parameter2
          description: Datum (Gültig ab) | Date (Valid from)
          in: query
          required: true
          schema:
            type: string
            format: date-time
            example: "2024-06-28T12:18:00Z"
            pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z$'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Marktteilnehmer"
      responses:
        "200":
          description: >-
            Erfolgreiches Löschen der Kommunikationsdaten | Successful
            deleting of communication data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OK_RESPONSE"
        "400":
          description: Fehlerhafte Anfrage | Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ERROR_RESPONSE"
        "422":
          description: Nicht verarbeitbare Anfrage | Unprocessable Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ERROR_RESPONSE"
  /LESEN_ENERGIELIEFERVERTRAG_BASIS:
    get:
      tags:
        - LESEN | READ
      summary: LESEN_ENERGIELIEFERVERTRAG_BASIS
      description: >-
        Lesen des Energieliefervertrages einer Lokation (Parameter1) zum
        Zeitpunkt (Parameter2) | Reading the energy delivery contract of a
        location (Parameter1) at the time (Parameter2)
      operationId: LESEN_ENERGIELIEFERVERTRAG_BASIS
      parameters:
        - name: command
          in: query
          description: >-
            Name der Operation | Name of the operation (MACO APP interal
            assignment between process and interface)
          schema:
            type: string
            default: LESEN_ENERGIELIEFERVERTRAG_BASIS
            example: SAP_LESEN_ENERGIELIEFERVERTRAG_BASIS
        - name: parameter1
          description: LokationsId | Location ID
          in: query
          required: true
          schema:
            type: string
            example: "74018657187"
        - name: parameter2
          description: Datum (Gültig ab) | Date (Valid from)
          in: query
          required: true
          schema:
            type: string
            format: date-time
            example: "2024-06-28T12:18:00Z"
            pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z$'
      responses:
        "200":
          description: >-
            Erfolgreiches Lesen des Energieliefervertrages | Successful reading
            of energy delivery contract
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ENERGIEVERTRAG"
        "400":
          description: Fehlerhafte Anfrage | Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ERROR_RESPONSE"
        "422":
          description: Nicht verarbeitbare Anfrage | Unprocessable Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ERROR_RESPONSE"
  /AKTUALISEREN_TECHNISCHE_RESSOURCE_BASIS:
    post:
      tags:
        - AKTUALISIEREN | UPDATE
      summary: AKTUALISEREN_TECHNISCHE_RESSOURCE_BASIS
      description: >-
        Lesen der Kommunikationsdaten des Serviceanbieters (Parameter1) 
        zum Zeitpunkt (Parameter2) | Reading the communication data of the service provider (parameter 1) 
        at the time (parameter 2)
      operationId: AKTUALISEREN_TECHNISCHE_RESSOURCE_BASIS
      parameters:
        - name: command
          in: query
          description: >-
            Name der Operation | Name of the operation (MACO APP interal
            assignment between process and interface)
          schema:
            type: string
            default: AKTUALISEREN_TECHNISCHE_RESSOURCE_BASIS
            example: NOCODB_AKTUALISEREN_TECHNISCHE_RESSOURCE_BASIS
        - name: parameter1
          description: LokationsId | Location ID
          in: query
          required: true
          schema:
            type: string
            example: "74018657187"
        - name: parameter2
          description: Datum (Gültig ab) | Date (Valid from)
          in: query
          required: true
          schema:
            type: string
            format: date-time
            example: "2024-06-28T12:18:00Z"
            pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z$'
      responses:
        "200":
          description: >-
            Erfolgreiches Lesen des Energieliefervertrages | Successful reading
            of energy delivery contract
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Vertrag"
        "400":
          description: Fehlerhafte Anfrage | Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ERROR_RESPONSE"
        "422":
          description: Nicht verarbeitbare Anfrage | Unprocessable Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ERROR_RESPONSE"
  /AKTUALISIEREN_ENERGIELIEFERVERTRAG_BASIS:
    post:
      tags:
        - AKTUALISIEREN | UPDATE
      summary: AKTUALISIEREN_ENERGIELIEFERVERTRAG_BASIS
      description: >-
        Aktualisieren der Kommunikationsdaten des Serviceanbieters (Parameter1) 
        zum Zeitpunkt (Parameter2) | Updating the service provider’s communication data (Parameter1) 
        at time (Parameter2)
      operationId: AKTUALISIEREN_ENERGIELIEFERVERTRAG_BASIS
      parameters:
        - name: command
          in: query
          description: >-
            Name der Operation | Name of the operation (MACO APP interal
            assignment between process and interface)
          schema:
            type: string
            default: AKTUALISIEREN_ENERGIELIEFERVERTRAG_BASIS
            example: NOCODB_AKTUALISIEREN_ENERGIELIEFERVERTRAG_BASIS
        - name: parameter1
          description: LokationsId | Location ID
          in: query
          required: true
          schema:
            type: string
            example: "74018657187"
        - name: parameter2
          description: Datum (Gültig ab) | Date (Valid from)
          in: query
          required: true
          schema:
            type: string
            format: date-time
            example: "2024-06-28T12:18:00Z"
            pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z$'
      responses:
        "200":
          description: >-
            Erfolgreiches Lesen des Energieliefervertrages | Successful reading
            of energy delivery contract
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Vertrag"
        "400":
          description: Fehlerhafte Anfrage | Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ERROR_RESPONSE"
        "422":
          description: Nicht verarbeitbare Anfrage | Unprocessable Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ERROR_RESPONSE"
  /LESEN_MESSSTELLENBETRIEBSVERTRAG_BASIS:
    get:
      tags:
        - LESEN | READ
      summary: LESEN_MESSSTELLENBETRIEBSVERTRAG_BASIS
      description: >-
        Lesen des Messstellenbetriebsvertrages einer Lokation (Parameter1) zum
        Zeitpunkt (Parameter2) | Reading the metering contract of a
        location (Parameter1) at the time (Parameter2)
      operationId: LESEN_MESSSTELLENBETRIEBSVERTRAG_BASIS
      parameters:
        - name: command
          in: query
          description: >-
            Name der Operation | Name of the operation (MACO APP interal
            assignment between process and interface)
          schema:
            type: string
            default: LESEN_MESSSTELLENBETRIEBSVERTRAG_BASIS
            example: SAP_LESEN_MESSSTELLENBETRIEBSVERTRAG_BASIS
        - name: parameter1
          description: LokationsId | Location ID
          in: query
          required: true
          schema:
            type: string
            example: "DE00056266802AO6G56M11SN51G21M24S"
        - name: parameter2
          description: Datum (Gültig ab) | Date (Valid from)
          in: query
          required: true
          schema:
            type: string
            format: date-time
            example: "2024-06-28T12:18:00Z"
            pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z$'
      responses:
        "200":
          description: >-
            Erfolgreiches Lesen des Messstellenbetriebsvertrages | Successful reading
            of metering contract
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Vertrag"
        "400":
          description: Fehlerhafte Anfrage | Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ERROR_RESPONSE"
        "422":
          description: Nicht verarbeitbare Anfrage | Unprocessable Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ERROR_RESPONSE"
  /LESEN_AVIS_BASIS:
    get:
      tags:
        - LESEN | READ
      summary: LESEN_AVIS_BASIS
      description: >-
        Lesen des Avises mittels Avisnummer (Parameter1) zum
        Zeitpunkt (Parameter2) | Reading the avis via
        avisnumber (Parameter1) at the time (Parameter2)
      operationId: LESEN_AVIS_BASIS
      parameters:
        - name: command
          in: query
          description: >-
            Name der Operation | Name of the operation (MACO APP interal
            assignment between process and interface)
          schema:
            type: string
            default: LESEN_AVIS_BASIS
            example: SAP_LESEN_AVIS_BASIS
        - name: parameter1
          description: avisNummer | avis Number
          in: query
          required: true
          schema:
            type: string
            example: "123456"
        - name: parameter2
          description: Datum (Gültig ab) | Date (Valid from)
          in: query
          required: true
          schema:
            type: string
            format: date-time
            example: "2024-06-28T12:18:00Z"
            pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z$'
      responses:
        "200":
          description: >-
            Erfolgreiches Lesen des Avises | Successful reading
            of energy delivery contract
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Avis"
        "400":
          description: Fehlerhafte Anfrage | Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ERROR_RESPONSE"
        "422":
          description: Nicht verarbeitbare Anfrage | Unprocessable Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ERROR_RESPONSE"
  /ERSTELLEN_ENERGIELIEFERVERTRAG_BASIS:
    post:
      tags:
        - ERSTELLEN | CREATE
      summary: ERSTELLEN_ENERGIELIEFERVERTRAG_BASIS
      description: >-
        Erstellen des Energieliefervertrages einer Lokation (Parameter1) zum
        Zeitpunkt (Parameter2) | Create the energy delivery contract of a
        location (Parameter1) at the time (Parameter2)
      operationId: ERSTELLEN_ENERGIELIEFERVERTRAG_BASIS
      parameters:
        - name: command
          in: query
          description: >-
            Name der Operation | Name of the operation (MACO APP interal
            assignment between process and interface)
          schema:
            type: string
            default: ERSTELLEN_ENERGIELIEFERVERTRAG_BASIS
            example: NOCODB_ERSTELLEN_ENERGIELIEFERVERTRAG_BASIS
        - name: parameter1
          description: LokationsId | Location ID
          in: query
          required: true
          schema:
            type: string
            example: "74018657187"
        - name: parameter2
          description: Datum (Gültig ab) | Date (Valid from)
          in: query
          required: true
          schema:
            type: string
            format: date-time
            example: "2024-06-28T12:18:00Z"
            pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z$'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Vertrag"
      responses:
        "200":
          description: >-
            Erfolgreiches Erstellen des Energieliefervertrages | Successful creating
            of energy delivery contract
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OK_RESPONSE"
        "400":
          description: Fehlerhafte Anfrage | Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ERROR_RESPONSE"
        "422":
          description: Nicht verarbeitbare Anfrage | Unprocessable Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ERROR_RESPONSE"
  /LESEN_ENERGIEMENGE_LASTGANG:
    get:
      tags:
        - LESEN | READ
      summary: LESEN_ENERGIEMENGE_LASTGANG
      description: >-
        Lesen eines Profils über eine Lokation (Parameter1) zum Start- und
        Endezeitpunkt (Parameter2/Parameter3) und einer OBIS Kennzahl
        (Parameter4 optional) | Reading a profile for a location (Parameter1) at
        the start and end time (Parameter2/Parameter3) and an OBIS code
        (Parameter4 optional)
      operationId: LESEN_ENERGIEMENGE_LASTGANG
      parameters:
        - name: command
          in: query
          required: true
          description: Name der Operation | Name of the operation
          schema:
            type: string
            default: LESEN_ENERGIEMENGE_LASTGANG
            example: SAP_LESEN_ENERGIEMENGE_LASTGANG
        - name: parameter1
          description: LokationsId | Location ID
          in: query
          required: true
          schema:
            type: string
            example: "74018657187"
        - name: parameter2
          description: Datum (ab) | Date (from)
          in: query
          required: true
          schema:
            type: string
            format: date-time
            example: "2024-05-28T12:18:00Z"
            pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z$'
        - name: parameter3
          description: Datum (bis) | Date (until)
          in: query
          required: true
          schema:
            type: string
            format: date-time
            example: "2024-06-28T12:18:00Z"
            pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z$'
        - name: parameter4
          description: OBIS Kennzahl | OBIS code
          in: query
          required: false
          schema:
            type: string
            example: "1-1:1.9.0"
      responses:
        "200":
          description: >-
            Erfolgreiches Lesen des Lastgangs | Successful reading of the load
            profile
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Energiemenge"
  /ERSTELLEN_ENERGIEMENGE_LASTGANG:
    post:
      tags:
        - ERSTELLEN | CREATE
      summary: ERSTELLEN_ENERGIEMENGE_LASTGANG
      description: >-
        Schreiben eines Lastgangs über eine Lokation (Parameter1) zu einem
        Zeitintervall (Parameter2/Parameter3) und einer OBIS Kennzahl
        (Parameter4) | Writing a load profile for a location (Parameter1) over a
        time interval (Parameter2/Parameter3) and an OBIS code (Parameter4)
      operationId: ERSTELLEN_ENERGIEMENGE_LASTGANG
      parameters:
        - name: command
          in: query
          required: true
          description: Name der Operation | Name of the operation
          schema:
            type: string
            default: ERSTELLEN_ENERGIEMENGE_LASTGANG
            example: NOCODB_ERSTELLEN_ENERGIEMENGE_LASTGANG
        - name: parameter1
          description: LokationsId | Location ID
          in: query
          required: true
          schema:
            type: string
            example: "74018657187"
        - name: parameter2
          description: Datum (ab) | Date (from)
          in: query
          required: true
          schema:
            type: string
            format: date-time
            example: "2024-05-28T12:18:00Z"
            pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z$'
        - name: parameter3
          description: Datum (bis) | Date (until)
          in: query
          required: true
          schema:
            type: string
            format: date-time
            example: "2024-05-28T12:18:00Z"
            pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z$'
        - name: parameter4
          description: OBIS Kennzahl | OBIS code
          in: query
          required: false
          schema:
            type: string
            example: "1-1:1.9.0"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Energiemenge"
      responses:
        "201":
          description: >-
            Erfolgreiches Schreiben des Lastgangs | Successful writing of the
            load profile
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Energiemenge"
  /LESEN_ENERGIEMENGE_ZAEHLERSTAND:
    get:
      tags:
        - LESEN | READ
      summary: LESEN_ENERGIEMENGE_ZAEHLERSTAND
      description: >-
        Lesen eines oder mehrerer Zählerstände über eine Lokation (Parameter1)
        in einer Range (Parameter2/Parameter3) und einer OBIS Kennzahl
        (Parameter4 optional) | Reading one or more meter readings for a
        location (Parameter1) in a range (Parameter2/Parameter3) and an OBIS
        code (Parameter4 optional)
      operationId: LESEN_ENERGIEMENGE_ZAEHLERSTAND
      parameters:
        - name: command
          in: query
          required: true
          description: Name der Operation | Name of the operation
          schema:
            type: string
            default: LESEN_ENERGIEMENGE_ZAEHLERSTAND
            example: SAP_LESEN_ENERGIEMENGE_ZAEHLERSTAND
        - name: parameter1
          description: LokationsId | Location ID
          in: query
          required: true
          schema:
            type: string
            example: "74018657187"
        - name: parameter2
          description: Datum (ab) | Date (from)
          in: query
          required: true
          schema:
            type: string
            format: date-time
            example: "2024-05-28T12:18:00Z"
            pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z$'
        - name: parameter3
          description: Datum (bis) | Date (until)
          in: query
          required: true
          schema:
            type: string
            format: date-time
            example: "2024-06-28T12:18:00Z"
            pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z$'
        - name: parameter4
          description: OBIS Kennzahl | OBIS code
          in: query
          required: false
          schema:
            type: string
            example: "1-1:1.9.0"
      responses:
        "200":
          description: >-
            Erfolgreiches Lesen der Zählerstände | Successful reading of the
            meter readings
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Energiemenge"
  /ERSTELLEN_ENERGIEMENGE_ZAEHLERSTAND:
    post:
      tags:
        - ERSTELLEN | CREATE
      summary: ERSTELLEN_ENERGIEMENGE_ZAEHLERSTAND
      description: >-
        Schreiben eines Zählerstands über eine Lokation (Parameter1) zu einem
        Zeitpunkt (Parameter2/Parameter3) und einer OBIS Kennzahl (Parameter4) |
        Writing a meter reading for a location (Parameter1) at a point in time
        (Parameter2/Parameter3) and an OBIS code (Parameter4)
      operationId: ERSTELLEN_ENERGIEMENGE_ZAEHLERSTAND
      parameters:
        - name: command
          in: query
          required: true
          description: Name der Operation | Name of the operation
          schema:
            type: string
            default: ERSTELLEN_ENERGIEMENGE_ZAEHLERSTAND
            example: NOCODB_ERSTELLEN_ENERGIEMENGE_ZAEHLERSTAND
        - name: parameter1
          description: LokationsId | Location ID
          in: query
          required: true
          schema:
            type: string
            example: "74018657187"
        - name: parameter2
          description: Datum (ab) | Date (from)
          in: query
          required: true
          schema:
            type: string
            format: date-time
            example: "2024-05-28T12:18:00Z"
            pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z$'
        - name: parameter3
          description: Datum (bis) | Date (until)
          in: query
          required: true
          schema:
            type: string
            format: date-time
            example: "2024-06-28T12:18:00Z"
            pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z$'
        - name: parameter4
          description: OBIS Kennzahl | OBIS code
          in: query
          required: false
          schema:
            type: string
            example: "1-1:1.9.0"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Energiemenge"
      responses:
        "201":
          description: >-
            Erfolgreiches Schreiben des Zählerstands | Successful writing of the
            meter reading
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Energiemenge"
  /LESEN_ENERGIEMENGE_ENERGIEMENGE:
    get:
      tags:
        - LESEN | READ
      summary: LESEN_ENERGIEMENGE_ENERGIEMENGE
      description: >-
        Lesen einer Energiemenge über eine Lokation (Parameter1) in einer Range
        (Parameter2/Parameter3) und einer OBIS Kennzahl (Parameter4 optional) |
        Reading an energy quantity for a location (Parameter1) in a range
        (Parameter2/Parameter3) and an OBIS code (Parameter4 optional)
      operationId: LESEN_ENERGIEMENGE_ENERGIEMENGE
      parameters:
        - name: command
          in: query
          required: true
          description: Name der Operation | Name of the operation
          schema:
            type: string
            default: LESEN_ENERGIEMENGE_ENERGIEMENGE
            example: SAP_LESEN_ENERGIEMENGE_ENERGIEMENGE
        - name: parameter1
          description: LokationsId | Location ID
          in: query
          required: true
          schema:
            type: string
            example: "74018657187"
        - name: parameter2
          description: Datum (ab) | Date (from)
          in: query
          required: true
          schema:
            type: string
            format: date-time
            example: "2024-05-28T12:18:00Z"
            pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z$'
        - name: parameter3
          description: Datum (bis) | Date (until)
          in: query
          required: true
          schema:
            type: string
            format: date-time
            example: "2024-06-28T12:18:00Z"
            pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z$'
        - name: parameter4
          description: OBIS Kennzahl | OBIS code
          in: query
          required: false
          schema:
            type: string
            example: "1-1:1.9.0"
      responses:
        "200":
          description: >-
            Erfolgreiches Lesen der Energiemenge | Successful reading of the
            energy quantity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Energiemenge"
  /ERSTELLEN_ENERGIEMENGE_ENERGIEMENGE:
    post:
      tags:
        - ERSTELLEN | CREATE
      summary: ERSTELLEN_ENERGIEMENGE_ENERGIEMENGE
      description: >-
        Schreiben einer Energiemenge über eine Lokation (Parameter1) zu einem
        Zeitpunkt (Parameter2/Parameter3) und einer OBIS Kennzahl (Parameter4) |
        Writing an energy quantity for a location (Parameter1) at a point in
        time (Parameter2/Parameter3) and an OBIS code (Parameter4)
      operationId: ERSTELLEN_ENERGIEMENGE_ENERGIEMENGE
      parameters:
        - name: command
          in: query
          required: true
          description: Name der Operation | Name of the operation
          schema:
            type: string
            default: ERSTELLEN_ENERGIEMENGE_ENERGIEMENGE
            example: NOCODB_ERSTELLEN_ENERGIEMENGE_ENERGIEMENGE
        - name: parameter1
          description: LokationsId | Location ID
          in: query
          required: true
          schema:
            type: string
            example: "74018657187"
        - name: parameter2
          description: Datum (ab) | Date (from)
          in: query
          required: true
          schema:
            type: string
            format: date-time
            example: "2024-05-28T12:18:00Z"
            pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z$'
        - name: parameter3
          description: Datum (bis) | Date (until)
          in: query
          required: true
          schema:
            type: string
            format: date-time
            example: "2024-06-28T12:18:00Z"
            pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z$'
        - name: parameter4
          description: OBIS Kennzahl | OBIS code
          in: query
          required: false
          schema:
            type: string
            example: "1-1:1.9.0"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Energiemenge"
      responses:
        "201":
          description: >-
            Erfolgreiches Schreiben der Energiemenge | Successful writing of the
            energy quantity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Energiemenge"
  /LESEN_MARKTLOKATION_BASIS:
    get:
      tags:
        - LESEN | READ
      summary: LESEN_MARKTLOKATION_BASIS
      description: >-
        Lesen einer MaLo mittels LokationsId (Parameter1) zum Zeitpunkt
        (Parameter2) | Reading a MaLo using location ID (Parameter1) at the time
        (Parameter2)
      operationId: LESEN_MARKTLOKATION_BASIS
      parameters:
        - name: command
          in: query
          required: true
          description: Name der Operation | Name of the operation
          schema:
            type: string
            default: LESEN_MARKTLOKATION_BASIS
            example: SAP_LESEN_MARKTLOKATION_BASIS
        - name: parameter1
          description: LokationsId | Location ID
          in: query
          required: true
          schema:
            type: string
            example: "74018657187"
        - name: parameter2
          description: Stichtag | Key date
          in: query
          required: true
          schema:
            type: string
            format: date-time
            example: "2024-06-28T12:18:00Z"
            pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z$'
      responses:
        "200":
          description: >-
            Erfolgreiches Lesen der Marktlokation | Successful reading of the
            market location
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Marktlokation"
  /LESEN_MESSLOKATIONS_BASIS:
    get:
      tags:
        - LESEN | READ
      summary: LESEN_MESSLOKATIONS_BASIS
      description: >-
        Ändert einen Netznutzungsvertrag mittels LokationsId  (Parameter1) 
        zum Zeitpunkt (Parameter2) | Changes a network usage contract using LocationId (Parameter1)
        at time (Parameter2)
      operationId: LESEN_MESSLOKATIONS_BASIS
      parameters:
        - name: command
          in: query
          required: true
          description: Name der Operation | Name of the operation
          schema:
            type: string
            default: LESEN_MESSLOKATIONS_BASIS
            example: LESEN_MESSLOKATIONS_BASIS
        - name: parameter1
          description: LokationsId | Location ID
          in: query
          required: true
          schema:
            type: string
            example: "74018657187"
        - name: parameter2
          description: Stichtag | Key date
          in: query
          required: true
          schema:
            type: string
            format: date-time
            example: "2024-06-28T12:18:00Z"
            pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z$'
      responses:
        "200":
          description: >-
            Erfolgreiches Lesen der Marktlokation | Successful reading of the
            market location
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Messlokation"
  /LESEN_NETZNUTZUNGSVERTRAG_BASIS:
    get:
      tags:
        - LESEN | READ
      summary: LESEN_NETZNUTZUNGSVERTRAG_BASIS
      description: >-
        Ändert einen Liefervertrag mittels LokationsId  (Parameter1) 
        zum Zeitpunkt (Parameter2) | Changes a delivery contract using LocationId (Parameter1) 
        at time (Parameter2)
      operationId: LESEN_NETZNUTZUNGSVERTRAG_BASIS
      parameters:
        - name: command
          in: query
          required: true
          description: Name der Operation | Name of the operation
          schema:
            type: string
            default: LESEN_NETZNUTZUNGSVERTRAG_BASIS
            example: LESEN_NETZNUTZUNGSVERTRAG_BASIS
        - name: parameter1
          description: LokationsId | Location ID
          in: query
          required: true
          schema:
            type: string
            example: "74018657187"
        - name: parameter2
          description: Stichtag | Key date
          in: query
          required: true
          schema:
            type: string
            format: date-time
            example: "2024-06-28T12:18:00Z"
            pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z$'
      responses:
        "200":
          description: >-
            Erfolgreiches Lesen der Marktlokation | Successful reading of the
            market location
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Vertrag"
  /AKTUALISIEREN_MARKTLOKATION_BASIS:
    post:
      tags:
        - AKTUALISIEREN | UPDATE
      summary: AKTUALISIEREN_MARKTLOKATION_BASIS
      description: >-
        Ändern einer MaLo mittels LokationsId (Parameter1) zum Zeitpunkt
        (Parameter2) | Changing a MaLo using location ID (Parameter1) at the
        time (Parameter2)
      operationId: AKTUALISIEREN_MARKTLOKATION_BASIS
      parameters:
        - name: command
          in: query
          required: true
          description: Name der Operation | Name of the operation
          schema:
            type: string
            default: AKTUALISIEREN_MARKTLOKATION_BASIS
            example: NOCODB_AKTUALISIEREN_MARKTLOKATION_BASIS
        - name: parameter1
          description: LokationsId | Location ID
          in: query
          required: true
          schema:
            type: string
            example: "74018657187"
        - name: parameter2
          description: Stichtag | Key date
          in: query
          required: true
          schema:
            type: string
            format: date-time
            example: "2024-06-28T12:18:00Z"
            pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z$'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Marktlokation"
      responses:
        "200":
          description: >-
            Erfolgreiches Aktualisieren der Marktlokation | Successful updating
            of the market location
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Marktlokation"
  /LESEN_MESSLOKATION_BASIS:
    get:
      tags:
        - LESEN | READ
      summary: LESEN_MESSLOKATION_BASIS
      description: >-
        Lesen einer MeLo mittels LokationsId (Parameter1) zum Zeitpunkt
        (Parameter2) | Reading a MeLo using location ID (Parameter1) at the time
        (Parameter2)
      operationId: LESEN_MESSLOKATION_BASIS
      parameters:
        - name: command
          in: query
          required: true
          description: Name der Operation | Name of the operation
          schema:
            type: string
            default: LESEN_MESSLOKATION_BASIS
            example: SAP_LESEN_MESSLOKATION_BASIS
        - name: parameter1
          description: LokationsId | Location ID
          in: query
          required: true
          schema:
            type: string
            example: DE00056266802AO6G56M11SN51G21M24S
        - name: parameter2
          description: Stichtag | Key date
          in: query
          required: true
          schema:
            type: string
            format: date-time
            example: "2024-06-28T12:18:00Z"
            pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z$'
      responses:
        "200":
          description: >-
            Erfolgreiches Lesen der Messlokation | Successful reading of the
            metering location
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Messlokation"
  /AKTUALISIEREN_MESSLOKATION_BASIS:
    post:
      tags:
        - AKTUALISIEREN | UPDATE
      summary: AKTUALISIEREN_MESSLOKATION_BASIS
      description: >-
        Ändern einer MeLo mittels LokationsId (Parameter1) zum Zeitpunkt
        (Parameter2) | Changing a MeLo using location ID (Parameter1) at the
        time (Parameter2)
      operationId: AKTUALISIEREN_MESSLOKATION_BASIS
      parameters:
        - name: command
          in: query
          required: true
          description: Name der Operation | Name of the operation
          schema:
            type: string
            default: AKTUALISIEREN_MESSLOKATION_BASIS
            example: NOCODB_AKTUALISIEREN_MESSLOKATION_BASIS
        - name: parameter1
          description: LokationsId | Location ID
          in: query
          required: true
          schema:
            type: string
            example: DE00056266802AO6G56M11SN51G21M24S
        - name: parameter2
          description: Stichtag | Key date
          in: query
          required: true
          schema:
            type: string
            format: date-time
            example: "2024-06-28T12:18:00Z"
            pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z$'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Messlokation"
      responses:
        "200":
          description: >-
            Erfolgreiches Aktualisieren der Messlokation | Successful updating
            of the metering location
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Messlokation"
  /LESEN_NETZLOKATION_BASIS:
    get:
      tags:
        - LESEN | READ
      summary: LESEN_NETZLOKATION_BASIS
      description: >-
        Lesen einer NeLo mittels LokationsId (Parameter1) zum Zeitpunkt
        (Parameter2) | Reading a NeLo using location ID (Parameter1) at the time
        (Parameter2)
      operationId: LESEN_NETZLOKATION_BASIS
      parameters:
        - name: command
          in: query
          required: true
          description: Name der Operation | Name of the operation
          schema:
            type: string
            default: LESEN_NETZLOKATION_BASIS
            example: SAP_LESEN_NETZLOKATION_BASIS
        - name: parameter1
          description: LokationsId | Location ID
          in: query
          required: true
          schema:
            type: string
            example: "74018657187"
        - name: parameter2
          description: Stichtag | Key date
          in: query
          required: true
          schema:
            type: string
            format: date-time
            example: "2024-06-28T12:18:00Z"
            pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z$'
      responses:
        "200":
          description: >-
            Erfolgreiches Lesen der Netzlokation | Successful reading of the
            network location
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Netzlokation"
  /LESEN_TRANCHE_BASIS:
    get:
      tags:
        - LESEN | READ
      summary: LESEN_TRANCHE_BASIS
      description: >-
        Lesen einer Tranche mittels LokationsId (Parameter1) zum Zeitpunkt
        (Parameter2) | Reading a tranche using location ID (Parameter1) at the
        time (Parameter2)
      operationId: LESEN_TRANCHE_BASIS
      parameters:
        - name: command
          in: query
          required: true
          description: Name der Operation | Name of the operation
          schema:
            type: string
            default: LESEN_TRANCHE_BASIS
            example: SAP_LESEN_TRANCHE_BASIS
        - name: parameter1
          description: LokationsId | Location ID
          in: query
          required: true
          schema:
            type: string
            example: "74018657187"
        - name: parameter2
          description: Stichtag | Key date
          in: query
          required: true
          schema:
            type: string
            format: date-time
            example: "2024-06-28T12:18:00Z"
            pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z$$'
      responses:
        "200":
          description: Erfolgreiches Lesen der Tranche | Successful reading of the tranche
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Tranche"
  /AKTUALISIEREN_TRANCHE_BASIS:
    post:
      tags:
        - AKTUALISIEREN | UPDATE
      summary: AKTUALISIEREN_TRANCHE_BASIS
      description: >-
        Ändern einer Tranche mittels LokationsId (Parameter1) zum Zeitpunkt
        (Parameter2) | Changing a tranche using location ID (Parameter1) at the
        time (Parameter2)
      operationId: AKTUALISIEREN_TRANCHE_BASIS
      parameters:
        - name: command
          in: query
          required: true
          description: Name der Operation | Name of the operation
          schema:
            type: string
            default: AKTUALISIEREN_TRANCHE_BASIS
            example: NOCODB_AKTUALISIEREN_TRANCHE_BASIS
        - name: parameter1
          description: LokationsId | Location ID
          in: query
          required: true
          schema:
            type: string
            example: "74018657187"
        - name: parameter2
          description: Stichtag | Key date
          in: query
          required: true
          schema:
            type: string
            format: date-time
            example: "2024-06-28T12:18:00Z"
            pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z$'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Tranche"
      responses:
        "200":
          description: >-
            Erfolgreiches Aktualisieren der Tranche | Successful updating of the
            tranche
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Tranche"
  /LESEN_LOKATIONSBUENDEL_BASIS:
    get:
      tags:
        - LESEN | READ
      summary: LESEN_LOKATIONSBUENDEL_BASIS
      description: >-
        Lesen eines Lokationsbündels mittels LokationsId (Parameter1) zum
        Zeitpunkt (Parameter2) | Reading a location bundle using location ID
        (Parameter1) at the time (Parameter2)
      operationId: LESEN_LOKATIONSBUENDEL_BASIS
      parameters:
        - name: command
          in: query
          required: true
          description: Name der Operation | Name of the operation
          schema:
            type: string
            default: LESEN_LOKATIONSBUENDEL_BASIS
            example: SAP_LESEN_LOKATIONSBUENDEL_BASIS
        - name: parameter1
          description: LokationsId | Location ID
          in: query
          required: true
          schema:
            type: string
            example: "74018657187"
        - name: parameter2
          description: Stichtag | Key date
          in: query
          required: true
          schema:
            type: string
            format: date-time
            example: "2024-06-28T12:18:00Z"
            pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z$'
      responses:
        "200":
          description: >-
            Erfolgreiches Lesen des Lokationsbündels | Successful reading of the
            location bundle
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Lokationsbuendel"
  /AKTUALISIEREN_LOKATIONSBUENDEL_BASIS:
    post:
      tags:
        - AKTUALISIEREN | UPDATE
      summary: AKTUALISIEREN_LOKATIONSBUENDEL_BASIS
      description: >-
        Ändern eines Lokationsbündels mittels LokationsId (Parameter1) zum
        Zeitpunkt (Parameter2) | Changing a location bundle using location ID
        (Parameter1) at the time (Parameter2)
      operationId: AKTUALISIEREN_LOKATIONSBUENDEL_BASIS
      parameters:
        - name: command
          in: query
          required: true
          description: Name der Operation | Name of the operation
          schema:
            type: string
            default: AKTUALISIEREN_LOKATIONSBUENDEL_BASIS
            example: NOCODB_AKTUALISIEREN_LOKATIONSBUENDEL_BASIS
        - name: parameter1
          description: LokationsId | Location ID
          in: query
          required: true
          schema:
            type: string
            example: "74018657187"
        - name: parameter2
          description: Stichtag | Key date
          in: query
          required: true
          schema:
            type: string
            format: date-time
            example: "2024-06-28T12:18:00Z"
            pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z$'
        - name: parameter3
          description: Stichtag | Key date
          in: query
          required: true
          schema:
            type: string
            format: date-time
            example: "2024-06-28T12:18:00Z"
            pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z$'
        - name: parameter4
          description: OBIS | OBIS
          in: query
          required: true
          schema:
            type: string
            example: "123456789"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Lokationsbuendel"
      responses:
        "200":
          description: >-
            Erfolgreiches Aktualisieren des Lokationsbündels | Successful
            updating of the location bundle
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Lokationsbuendel"
        "400":
          description: Fehlerhafte Anfrage | Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ERROR_RESPONSE"
        "422":
          description: Nicht verarbeitbare Anfrage | Unprocessable Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ERROR_RESPONSE"
  /AKTUALISIEREN_MARKTLOKATIONS_BASIS:
    post:
      tags:
        - AKTUALISIEREN | UPDATE
      summary: AKTUALISIEREN_MARKTLOKATIONS_BASIS
      description: >-
        Ändern eines Lokationsbündels mittels LokationsId (Parameter1) zum
        Zeitpunkt (Parameter2) | Changing a location bundle using location ID
        (Parameter1) at the time (Parameter2)
      operationId: AKTUALISIEREN_MARKTLOKATIONS_BASIS
      parameters:
        - name: command
          in: query
          required: true
          description: Name der Operation | Name of the operation
          schema:
            type: string
            default: AKTUALISIEREN_MARKTLOKATIONS_BASIS
            example: NOCODB_AKTUALISIEREN_MARKTLOKATIONS_BASIS
        - name: parameter1
          description: LokationsId | Location ID
          in: query
          required: true
          schema:
            type: string
            example: "74018657187"
        - name: parameter2
          description: Stichtag | Key date
          in: query
          required: true
          schema:
            type: string
            format: date-time
            example: "2024-06-28T12:18:00Z"
            pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z$'
        - name: parameter3
          description: Stichtag | Key date
          in: query
          required: true
          schema:
            type: string
            format: date-time
            example: "2024-06-28T12:18:00Z"
            pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z$'
        - name: parameter4
          description: OBIS | OBIS
          in: query
          required: true
          schema:
            type: string
            example: "123456789"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Lokationsbuendel"
      responses:
        "200":
          description: >-
            Erfolgreiches Aktualisieren des Lokationsbündels | Successful
            updating of the location bundle
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Lokationsbuendel"
        "400":
          description: Fehlerhafte Anfrage | Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ERROR_RESPONSE"
        "422":
          description: Nicht verarbeitbare Anfrage | Unprocessable Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ERROR_RESPONSE"
  /AKTUALISIEREN_MESSLOKATIONS_BASIS:
    post:
      tags:
        - AKTUALISIEREN | UPDATE
      summary: AKTUALISIEREN_MESSLOKATIONS_BASIS
      description: >-
        Schreiben eines Zählerstands über eine Lokation (Parameter1) 
        zu einem Zeitpunkt (Parameter2/Parameter3 ) 
        und einer OBIS Kennzahl (Parameter4) | Writing a meter reading via a location (Parameter1) 
        at a point in time (Parameter2/Parameter3) and an OBIS code (Parameter4)
      operationId: AKTUALISIEREN_MESSLOKATIONS_BASIS
      parameters:
        - name: command
          in: query
          required: true
          description: Name der Operation | Name of the operation
          schema:
            type: string
            default: AKTUALISIEREN_MESSLOKATIONS_BASIS
            example: NOCODB_AKTUALISIEREN_MESSLOKATIONS_BASIS
        - name: parameter1
          description: LokationsId | Location ID
          in: query
          required: true
          schema:
            type: string
            example: "74018657187"
        - name: parameter2
          description: Stichtag | Key date
          in: query
          required: true
          schema:
            type: string
            format: date-time
            example: "2024-06-28T12:18:00Z"
            pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z$'
        - name: parameter3
          description: Stichtag | Key date
          in: query
          required: true
          schema:
            type: string
            format: date-time
            example: "2024-06-28T12:18:00Z"
            pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z$'
        - name: parameter4
          description: OBIS | OBIS
          in: query
          required: true
          schema:
            type: string
            example: "123456789"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Lokationsbuendel"
      responses:
        "200":
          description: >-
            Erfolgreiches Aktualisieren des Lokationsbündels | Successful
            updating of the location bundle
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Lokationsbuendel"
        "400":
          description: Fehlerhafte Anfrage | Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ERROR_RESPONSE"
        "422":
          description: Nicht verarbeitbare Anfrage | Unprocessable Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ERROR_RESPONSE"
  /AKTUALISIEREN_NETZLOKATION_BASIS:
    post:
      tags:
        - AKTUALISIEREN | UPDATE
      summary: AKTUALISIEREN_NETZLOKATION_BASIS
      description: >-
        Lesen einer Energiemenge über eine Lokation (Parameter1) 
        in einer Range (Parameter2/Parameter3 ) 
        und einer OBIS Kennzahl (Parameter4 optional) | Reading an energy quantity via a location (Parameter1) 
        in a range (Parameter2/Parameter3) and an OBIS code (Parameter4 optional)
      operationId: AKTUALISIEREN_NETZLOKATION_BASIS
      parameters:
        - name: command
          in: query
          required: true
          description: Name der Operation | Name of the operation
          schema:
            type: string
            default: AKTUALISIEREN_NETZLOKATION_BASIS
            example: NOCODB_AKTUALISIEREN_NETZLOKATION_BASIS
        - name: parameter1
          description: LokationsId | Location ID
          in: query
          required: true
          schema:
            type: string
            example: "74018657187"
        - name: parameter2
          description: Stichtag | Key date
          in: query
          required: true
          schema:
            type: string
            format: date-time
            example: "2024-06-28T12:18:00Z"
            pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z$'
        - name: parameter3
          description: Stichtag | Key date
          in: query
          required: true
          schema:
            type: string
            format: date-time
            example: "2024-06-28T12:18:00Z"
            pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z$'
        - name: parameter4
          description: OBIS | OBIS
          in: query
          required: true
          schema:
            type: string
            example: "123456789"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Lokationsbuendel"
      responses:
        "200":
          description: >-
            Erfolgreiches Aktualisieren des Lokationsbündels | Successful
            updating of the location bundle
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Lokationsbuendel"
        "400":
          description: Fehlerhafte Anfrage | Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ERROR_RESPONSE"
        "422":
          description: Nicht verarbeitbare Anfrage | Unprocessable Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ERROR_RESPONSE"
  /AKTUALISIEREN_NETZNUTZUNGSVERTRAG_BASIS:
    post:
      tags:
        - AKTUALISIEREN | UPDATE
      summary: AKTUALISIEREN_NETZNUTZUNGSVERTRAG_BASIS
      description: >-
        Schreiben einer Energiemenge über eine Lokation (Parameter1) 
        zu einem Zeitpunkt (Parameter2/Parameter3 ) 
        und einer OBIS Kennzahl (Parameter4) | Writing an energy quantity via a location (Parameter1) 
        at a point in time (Parameter2/Parameter3) and an OBIS key figure (Parameter4)
      operationId: AKTUALISIEREN_NETZNUTZUNGSVERTRAG_BASIS
      parameters:
        - name: command
          in: query
          required: true
          description: Name der Operation | Name of the operation
          schema:
            type: string
            default: AKTUALISIEREN_NETZNUTZUNGSVERTRAG_BASIS
            example: AKTUALISIEREN_NETZNUTZUNGSVERTRAG_BASIS
        - name: parameter1
          description: LokationsId | Location ID
          in: query
          required: true
          schema:
            type: string
            example: "74018657187"
        - name: parameter2
          description: Stichtag | Key date
          in: query
          required: true
          schema:
            type: string
            format: date-time
            example: "2024-06-28T12:18:00Z"
            pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z$'
        - name: parameter3
          description: Stichtag | Key date
          in: query
          required: true
          schema:
            type: string
            format: date-time
            example: "2024-06-28T12:18:00Z"
            pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z$'
        - name: parameter4
          description: OBIS | OBIS
          in: query
          required: true
          schema:
            type: string
            example: "123456789"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Lokationsbuendel"
      responses:
        "200":
          description: >-
            Erfolgreiches Aktualisieren des Lokationsbündels | Successful
            updating of the location bundle
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Lokationsbuendel"
        "400":
          description: Fehlerhafte Anfrage | Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ERROR_RESPONSE"
        "422":
          description: Nicht verarbeitbare Anfrage | Unprocessable Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ERROR_RESPONSE"
  /LESEN_TECHNISCHE_RESSOURCE_BASIS:
    get:
      tags:
        - LESEN | READ
      summary: LESEN_TECHNISCHE_RESSOURCE_BASIS
      description: >-
        Lesen einer technischen Ressource mittels LokationsId (Parameter1) zum
        Zeitpunkt (Parameter2) | Reading a technical resource using location ID
        (Parameter1) at the time (Parameter2)
      operationId: LESEN_TECHNISCHE_RESSOURCE_BASIS
      parameters:
        - name: command
          in: query
          required: true
          description: Name der Operation | Name of the operation
          schema:
            type: string
            default: LESEN_TECHNISCHE_RESSOURCE_BASIS
            example: SAP_LESEN_TECHNISCHE_RESSOURCE_BASIS
        - name: parameter1
          description: LokationsId | Location ID
          in: query
          required: true
          schema:
            type: string
            example: "74018657187"
        - name: parameter2
          description: Stichtag | Key date
          in: query
          required: true
          schema:
            type: string
            format: date-time
            example: "2024-06-28T12:18:00Z"
            pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z$'
      responses:
        "200":
          description: >-
            Erfolgreiches Lesen der technischen Ressource | Successful reading
            of the technical resource
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TechnischeRessource"
  /AKTUALISIEREN_TECHNISCHE_RESSOURCE_BASIS:
    post:
      tags:
        - AKTUALISIEREN | UPDATE
      summary: AKTUALISIEREN_TECHNISCHE_RESSOURCE_BASIS
      description: >-
        Ändern einer technischen Ressource mittels LokationsId (Parameter1) zum
        Zeitpunkt (Parameter2) | Changing a technical resource using location ID
        (Parameter1) at the time (Parameter2)
      operationId: AKTUALISIEREN_TECHNISCHE_RESSOURCE_BASIS
      parameters:
        - name: command
          in: query
          required: true
          description: Name der Operation | Name of the operation
          schema:
            type: string
            default: AKTUALISIEREN_TECHNISCHE_RESSOURCE_BASIS
            example: NOCODB_AKTUALISIEREN_TECHNISCHE_RESSOURCE_BASIS
        - name: parameter1
          description: LokationsId | Location ID
          in: query
          required: true
          schema:
            type: string
            example: "74018657187"
        - name: parameter2
          description: Stichtag | Key date
          in: query
          required: true
          schema:
            type: string
            format: date-time
            example: "2024-06-28T12:18:00Z"
            pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z$'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TechnischeRessource"
      responses:
        "200":
          description: >-
            Erfolgreiches Aktualisieren der technischen Ressource | Successful
            updating of the technical resource
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TechnischeRessource"
  /LESEN_STEUERBARE_RESSOURCE_BASIS:
    get:
      tags:
        - LESEN | READ
      summary: LESEN_STEUERBARE_RESSOURCE_BASIS
      description: >-
        Lesen einer steuerbaren Ressource mittels LokationsId (Parameter1) zum
        Zeitpunkt (Parameter2) | Reading a controllable resource using location
        ID (Parameter1) at the time (Parameter2)
      operationId: LESEN_STEUERBARE_RESSOURCE_BASIS
      parameters:
        - name: command
          in: query
          required: true
          description: Name der Operation | Name of the operation
          schema:
            type: string
            default: LESEN_STEUERBARE_RESSOURCE_BASIS
            example: SAP_LESEN_STEUERBARE_RESSOURCE_BASIS
        - name: parameter1
          description: LokationsId | Location ID
          in: query
          required: true
          schema:
            type: string
            example: "74018657187"
        - name: parameter2
          description: Stichtag | Key date
          in: query
          required: true
          schema:
            type: string
            format: date-time
            example: "2024-06-28T12:18:00Z"
            pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z$'
      responses:
        "200":
          description: >-
            Erfolgreiches Lesen der steuerbaren Ressource | Successful reading
            of the controllable resource
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SteuerbareRessource"
  /AKTUALISIEREN_STEUERBARE_RESSOURCE_BASIS:
    post:
      tags:
        - AKTUALISIEREN | UPDATE
      summary: AKTUALISIEREN_STEUERBARE_RESSOURCE_BASIS
      description: >-
        Ändern einer steuerbaren Ressource mittels LokationsId (Parameter1) zum
        Zeitpunkt (Parameter2) | Changing a controllable resource using location
        ID (Parameter1) at the time (Parameter2)
      operationId: AKTUALISIEREN_STEUERBARE_RESSOURCE_BASIS
      parameters:
        - name: command
          in: query
          required: true
          description: Name der Operation | Name of the operation
          schema:
            type: string
            default: AKTUALISIEREN_STEUERBARE_RESSOURCE_BASIS
            example: NOCODB_AKTUALISIEREN_STEUERBARE_RESSOURCE_BASIS
        - name: parameter1
          description: LokationsId | Location ID
          in: query
          required: true
          schema:
            type: string
            example: "74018657187"
        - name: parameter2
          description: Stichtag | Key date
          in: query
          required: true
          schema:
            type: string
            format: date-time
            example: "2024-06-28T12:18:00Z"
            pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z$'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SteuerbareRessource"
      responses:
        "200":
          description: >-
            Erfolgreiches Aktualisieren der steuerbaren Ressource | Successful
            updating of the controllable resource
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SteuerbareRessource"
        "400":
          description: Fehlerhafte Anfrage | Bad Request
components:
  examples:
    PI_55004:
      value:
        stammdaten:
          MARKTLOKATION:
            - boTyp: MARKTLOKATION
              versionStruktur: "1"
              marktlokationsId: "74018657187"
              sparte: STROM
              energierichtung: AUSSP
          NETZNUTZUNGSVERTRAG:
            - boTyp: VERTRAG
              versionStruktur: "1"
              vertragsart: NETZNUTZUNGSVERTRAG
              sparte: STROM
              vertragsende: "2024-06-30T22:00:00Z"
              lokationsId: "74018657187"
              lokationsTyp: MALO
          BILANZIERUNG:
            - boTyp: BILANZIERUNG
              versionStruktur: "1"
              marktlokationsId: "74018657187"
        transaktionsdaten:
          datenaustauschreferenz: "117398"
          sparte: STROM
          transaktionsgrund: E01
          vorgangsnummer: "1043400522"
          pruefidentifikator: "55004"
          absender:
            boTyp: MARKTTEILNEHMER
            versionStruktur: "1"
            rollencodenummer: "9903790000002"
            rollencodetyp: BDEW
          empfaenger:
            boTyp: MARKTTEILNEHMER
            versionStruktur: "1"
            rollencodenummer: "9900321000005"
            rollencodetyp: BDEW
          dokumentennummer: "12345"
          kategorie: E02
          nachrichtendatum: "2024-04-01T07:40:00Z"
          nachrichtenreferenznummer: "796205"
          freitext:
            freitext1: ABC
        zusatzdaten: null
    PI_55005:
      value:
        stammdaten:
          MARKTLOKATION:
            - boTyp: MARKTLOKATION
              versionStruktur: "1"
              marktlokationsId: "50263461490"
              sparte: STROM
              energierichtung: AUSSP
          NETZNUTZUNGSVERTRAG:
            - boTyp: VERTRAG
              versionStruktur: "1"
              vertragsart: NETZNUTZUNGSVERTRAG
              sparte: STROM
              vertragsende: "2024-04-30T22:00:00Z"
              lokationsId: "50263461490"
              lokationsTyp: MALO
          BILANZIERUNG:
            - boTyp: BILANZIERUNG
              versionStruktur: "1"
              marktlokationsId: "50263461490"
              bilanzierungsende: "2024-04-30T22:00:00Z"
        transaktionsdaten:
          datenaustauschreferenz: "10000159359739"
          sparte: STROM
          transaktionsgrund: ZT4
          vorgangsnummer: BE08461C62B11EEE99D02638E374580A
          pruefidentifikator: "55005"
          absender:
            boTyp: MARKTTEILNEHMER
            versionStruktur: "1"
            rollencodenummer: "9900321000005"
            rollencodetyp: BDEW
            ansprechpartner:
              boTyp: ANSPRECHPARTNER
              versionStruktur: "1"
              nachname: Ansprechpartner GPKE SWBK Netz
              eMailAdresse: marktpartnerwechsel.swbk@energis-netzgesellschaft.de
          empfaenger:
            boTyp: MARKTTEILNEHMER
            versionStruktur: "1"
            rollencodenummer: "9903790000002"
            rollencodetyp: BDEW
          dokumentennummer: "10000159359739"
          kategorie: E02
          nachrichtendatum: "2024-04-01T08:52:00Z"
          nachrichtenreferenznummer: "10000159359739"
          anfragereferenznummer: PCL_5923100909360499050790000005011
          antwortstatus: A06
          antwortstatusCodeliste: E_0401
        zusatzdaten: null
    PI_55006:
      value:
        stammdaten:
          MARKTLOKATION:
            - boTyp: MARKTLOKATION
              versionStruktur: "1"
              marktlokationsId: "51216620950"
              sparte: STROM
              energierichtung: AUSSP
          NETZNUTZUNGSVERTRAG:
            - boTyp: VERTRAG
              versionStruktur: "1"
              vertragsart: NETZNUTZUNGSVERTRAG
              sparte: STROM
              lokationsId: "51216620950"
              lokationsTyp: MALO
          BILANZIERUNG:
            - boTyp: BILANZIERUNG
              versionStruktur: "1"
              marktlokationsId: "51216620950"
        transaktionsdaten:
          datenaustauschreferenz: D0000000762312
          sparte: STROM
          transaktionsgrund: ZT4
          vorgangsnummer: VID00000000002244135231010104605000
          pruefidentifikator: "55006"
          absender:
            boTyp: MARKTTEILNEHMER
            versionStruktur: "1"
            rollencodenummer: "9900321000005"
            rollencodetyp: BDEW
          empfaenger:
            boTyp: MARKTTEILNEHMER
            versionStruktur: "1"
            rollencodenummer: "9903790000002"
            rollencodetyp: BDEW
          dokumentennummer: UT0000377481
          kategorie: E02
          nachrichtendatum: "2024-04-01T08:46:00Z"
          nachrichtenreferenznummer: UT0000377481
          anfragereferenznummer: PCL_7823101008565599050790000006659
          antwortstatus: A07
          antwortstatusCodeliste: E_0401
        zusatzdaten: null
    PI_55007:
      value:
        stammdaten:
          MARKTLOKATION:
            - boTyp: MARKTLOKATION
              versionStruktur: "1"
              marktlokationsId: "50263791178"
              energierichtung: AUSSP
          NETZNUTZUNGSVERTRAG:
            - boTyp: VERTRAG
              versionStruktur: "1"
              vertragsart: NETZNUTZUNGSVERTRAG
              sparte: STROM
              vertragsende: "2024-04-30T22:00:00Z"
              lokationsId: "50263791178"
              lokationsTyp: MALO
          BILANZIERUNG:
            - boTyp: BILANZIERUNG
              versionStruktur: "1"
              marktlokationsId: "50263791178"
              bilanzierungsende: "2024-04-30T22:00:00Z"
        transaktionsdaten:
          datenaustauschreferenz: "100806646839"
          sparte: STROM
          transaktionsgrund: Z33
          vorgangsnummer: 9901064000005P010011008066468391
          pruefidentifikator: "55007"
          absender:
            boTyp: MARKTTEILNEHMER
            versionStruktur: "1"
            rollencodenummer: "9900321000005"
            rollencodetyp: BDEW
          empfaenger:
            boTyp: MARKTTEILNEHMER
            versionStruktur: "1"
            rollencodenummer: "9903790000002"
            rollencodetyp: BDEW
          dokumentennummer: "100806646839"
          kategorie: E02
          nachrichtendatum: "2024-04-01T12:14:00Z"
          nachrichtenreferenznummer: "100806646839"
    PI_55008:
      value:
        stammdaten:
          MARKTLOKATION:
            - boTyp: MARKTLOKATION
              versionStruktur: "1"
              marktlokationsId: "74018657187"
              sparte: STROM
              energierichtung: AUSSP
          NETZNUTZUNGSVERTRAG:
            - boTyp: VERTRAG
              versionStruktur: "1"
              vertragsart: NETZNUTZUNGSVERTRAG
              sparte: STROM
              vertragsende: "2024-06-30T22:00:00Z"
              lokationsId: "74018657187"
              lokationsTyp: MALO
          BILANZIERUNG:
            - boTyp: BILANZIERUNG
              versionStruktur: "1"
              marktlokationsId: "74018657187"
              bilanzierungsende: "2024-06-30T22:00:00Z"
        transaktionsdaten:
          datenaustauschreferenz: "745100"
          sparte: STROM
          transaktionsgrund: ZQ7
          vorgangsnummer: "310913210"
          pruefidentifikator: "55008"
          absender:
            boTyp: MARKTTEILNEHMER
            versionStruktur: "1"
            rollencodenummer: "9903790000002"
            rollencodetyp: BDEW
          empfaenger:
            boTyp: MARKTTEILNEHMER
            versionStruktur: "1"
            rollencodenummer: "9900321000005"
            rollencodetyp: BDEW
          dokumentennummer: 711412BGM
          kategorie: E02
          nachrichtendatum: "2024-04-03T12:31:00Z"
          nachrichtenreferenznummer: "711412"
          anfragereferenznummer: ABC1234567
          antwortstatus: A10
          antwortstatusCodeliste: E_0502
        zusatzdaten: null
    PI_55001:
      value:
        stammdaten:
          MARKTLOKATION:
            - boTyp: MARKTLOKATION
              versionStruktur: "1"
              marktlokationsId: "50074561192"
              sparte: STROM
              energierichtung: AUSSP
          MESSLOKATION:
            - boTyp: MESSLOKATION
              versionStruktur: "1"
              sparte: STROM
              ablesekartenempfaenger:
                boTyp: GESCHAEFTSPARTNER
                versionStruktur: "1"
                name1: Test2312312
                gewerbekennzeichnung: true
                geschaeftspartnerrolle:
                  - ABLESEKARTENEMPFAENGER
                partneradresse:
                  postleitzahl: "11111"
                  ort: Dummyort
                  strasse: Dummyweg
                  landescode: DE
          NETZNUTZUNGSVERTRAG:
            - boTyp: VERTRAG
              versionStruktur: "1"
              vertragsart: NETZNUTZUNGSVERTRAG
              sparte: STROM
              vertragsbeginn: "2024-12-31T23:00:00Z"
              vertragskonditionen:
                haushaltskunde: true
                netznutzungsvertrag: LIEFERANTEN_NB
                netznutzungszahler: LIEFERANT
              gemeinderabatt: 0
          ENERGIELIEFERVERTRAG:
            - boTyp: VERTRAG
              versionStruktur: "1"
              vertragsart: ENERGIELIEFERVERTRAG
              sparte: STROM
              vertragspartner2:
                - boTyp: GESCHAEFTSPARTNER
                  versionStruktur: "1"
                  anrede: Dr.
                  name1: Mustermann
                  name2: Max
                  gewerbekennzeichnung: false
                  geschaeftspartnerrolle:
                    - KUNDE
              korrespondenzpartner:
                boTyp: GESCHAEFTSPARTNER
                versionStruktur: "1"
                name1: Test2312312
                gewerbekennzeichnung: false
                partneradresse:
                  postleitzahl: "00000"
                  ort: Dummyort
                  strasse: Dummystrasse
                  landescode: DE
              enFG:
                - grundlageVerringerungUmlagen: KEINE_ANGABE
          BILANZIERUNG:
            - boTyp: BILANZIERUNG
              versionStruktur: "1"
              lastprofile:
                - bezeichnung: H00
                  verfahren: SYNTHETISCH
                  profilart: ART_STANDARDLASTPROFIL
                  einspeisung: false
                  herausgeber: NB
              bilanzkreis: Test2312312
              jahresverbrauchsprognose:
                wert: 2000
                einheit: KWH
    PI_55002:
      value:
        stammdaten:
          MARKTLOKATION:
            - boTyp: MARKTLOKATION
              versionStruktur: "1"
              marktlokationsId: "50754496956"
              sparte: STROM
              energierichtung: AUSSP
              netzebene: NSP
              bilanzierungsgebiet: 11YW-STU-NETZE-R
              lokationsadresse:
                postleitzahl: "70569"
                ort: Stuttgart
                strasse: Schwarzwaldstr.
                hausnummer: "102"
                landescode: DE
                ortsteil: Kaltental
              marktrollen:
                - boTyp: MARKTTEILNEHMER
                  versionStruktur: "1"
                  rollencodenummer: "4045399000077"
                  marktrolle: UENB
                - boTyp: MARKTTEILNEHMER
                  versionStruktur: "1"
                  rollencodenummer: "1234567890128"
                  marktrolle: MSB
                  weiterverpflichtet: false
                  messstellenbetreiberEigenschaft: GRUNDZUSTAENDIGER_MESSSTELLENBETREIBER
              regelzone: 10YDE-RWENET---I
              zaehlwerke:
                - obisKennzahl: "1-1:1.9.0"
[...]
